.form {
  margin-top: 3rem;
  border-radius: 0.25rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    background-color: #fff;
    width: 16rem;
    line-height: 2.75rem;
    height: 2.75rem;
    padding-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
  }
  button {
    width: 7rem;
    height: 2.75rem;
    line-height: 2.75rem;
    text-align: center;
    background-color: var(--orange);
    color: #fff;
    font-weight: 600;
  }
}
