:root {
  --orange: #f8b215;
  --navy: #021d38;
}

.viewport {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e6e6e6;
  padding: 2rem 0;
}

.initial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-width: 100%;
}
.initial hgroup h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}
.initial hgroup p {
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
  line-height: 1.8rem;
  font-weight: 500;
}
.initial hgroup span {
  background: var(--navy);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 600;
  color: #fff;
  font-size: 1rem;
}
.initial .roulette {
  width: 500px;
  height: 500px;
}

.roulette {
  position: relative;
  border-radius: 50%;
  border: 5px solid #fff;
  -webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.025), 4px 2px 4px 0 rgba(0, 0, 0, 0.025), 8px 4px 8px 0 rgba(0, 0, 0, 0.05), 16px 8px 16px 0 rgba(0, 0, 0, 0.05), 32px 16px 32px 0 rgba(0, 0, 0, 0.05), 64px 32px 64px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.025), 4px 2px 4px 0 rgba(0, 0, 0, 0.025), 8px 4px 8px 0 rgba(0, 0, 0, 0.05), 16px 8px 16px 0 rgba(0, 0, 0, 0.05), 32px 16px 32px 0 rgba(0, 0, 0, 0.05), 64px 32px 64px 0 rgba(0, 0, 0, 0.05);
  width: 600px;
  height: 600px;
}
.roulette::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 0.75rem solid #fff;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  position: absolute;
  top: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.roulette::after {
  content: "";
  width: 1.5rem;
  background-color: #fff;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.roulette canvas {
  width: 100%;
  height: 100%;
  border: 15px solid var(--navy);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}
.roulette .roulette-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
  z-index: 1;
}

.roulette-btn {
  margin-top: 2rem;
  padding: 0.75rem 2rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 2px solid var(--navy);
  -webkit-transition: background ease 0.3s;
  transition: background ease 0.3s;
}
.roulette-btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.roulette-btn p {
  font-size: 1.25rem;
  font-weight: 900;
  margin-left: 0.5rem;
}
.roulette-btn svg {
  font-size: 1.25rem;
}
.roulette-btn.isDefault svg {
  -webkit-animation-name: rolling;
          animation-name: rolling;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.roulette-btn.isDefault p {
  color: var(--navy);
}
.roulette-btn.isDefault:hover {
  background-color: var(--navy);
}
.roulette-btn.isDefault:hover svg,
.roulette-btn.isDefault:hover p {
  color: #fff;
}
.roulette-btn.isSpin {
  background-color: #f74924;
  border-color: #f74924;
  -webkit-animation-name: shaking;
          animation-name: shaking;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.roulette-btn.isSpin span {
  color: #fff;
}
.roulette-btn.isSpin:hover {
  background-color: #fff;
}
.roulette-btn.isSpin:hover svg,
.roulette-btn.isSpin:hover p {
  color: #f74924;
}
.roulette-btn.isStop {
  background-color: var(--orange);
  border-color: var(--orange);
}
.roulette-btn.isStop span {
  color: #fff;
}
.roulette-btn.isStop svg {
  -webkit-animation-name: rolling;
          animation-name: rolling;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes rolling {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rolling {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes shaking {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shaking {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
.add-form {
  margin-top: 3rem;
  border-radius: 0.25rem;
  overflow: hidden;
}
.add-form input {
  background-color: #fff;
  width: 16rem;
  line-height: 2.75rem;
  height: 2.75rem;
  padding-left: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.add-form button {
  width: 7rem;
  height: 2.75rem;
  line-height: 2.75rem;
  text-align: center;
  background-color: var(--orange);
  color: #fff;
  font-weight: 600;
}

.nav-btns {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-btns .nav-btns__btn {
  width: 7rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: var(--navy);
  border: 2px solid var(--navy);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  font-weight: 600;
  border-radius: 0.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-btns .nav-btns__btn:hover {
  background-color: #fff;
}
.nav-btns .nav-btns__btn:hover span,
.nav-btns .nav-btns__btn:hover p {
  color: var(--navy);
}
.nav-btns .nav-btns__btn:not(:last-child) {
  margin-right: 0.5rem;
}
.nav-btns .nav-btns__btn p {
  color: #fff;
}
.nav-btns .nav-btns__btn span {
  display: inline-block;
  margin-right: 0.5rem;
  -webkit-transform: translateY(0.125rem);
          transform: translateY(0.125rem);
  color: #fff;
}

.alert {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  padding: 2rem;
  background-color: #fff;
  border: 3px solid var(--navy);
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.alert > p {
  font-size: 1.1rem;
  line-height: 1.5em;
  text-align: center;
  font-weight: 500;
}
.alert .alert__btn {
  margin-top: 1.5rem;
  padding: 0.1rem 2rem 0.1rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--navy);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.alert .alert__btn p {
  color: #fff;
  font-weight: 600;
  font-weight: 500;
}
.alert .alert__btn span {
  color: #fff;
  font-size: 1.75rem;
  margin-right: 0.15rem;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.dim {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 998;
  cursor: pointer;
}

@media all and (max-width: 640px) {
  :root {
    font-size: 12px;
  }
  .viewport {
    padding: 2rem;
  }
  .initial hgroup p br {
    display: none;
  }
  .initial .roulette,
  .roulette {
    width: calc(100vw - 4rem);
    height: calc(100vw - 4rem);
    border-width: 3px;
  }
  .roulette canvas {
    border-width: 10px;
  }
  .alert {
    width: 300px;
  }
}